# Python virtual environment
venv_ko

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Zip files
*.zip

# Testing gurobi
testing_gurobi

# Testing assignment
testing_assignment